 
<% var data = data || [] %> 
<% var book %> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book.uz</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="fontawesome/css/all.min.css">
    <link rel="stylesheet" href="css/templatemo-style.css">
<!--
    
TemplateMo 556 Catalog-Z

https://templatemo.com/tm-556-catalog-z

-->
</head>
<body> 
  <header class="bg-light pb-5">
    <div class="container">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid">
                <a class="navbar-brand text-center fs-3  m-0 me-4 " href="/">
                    Bookshop
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse ms-auto" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link nav-link-1 h5 m-0 active" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-2 h5 m-0 " href="/categories">Types</a>
                        </li>
    
                    <% if(!user) { %> 
                        <li class="nav-item">
                            <a class="nav-link nav-link-3 h5 m-0" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-link-4 h5 m-0" href="/register">Register</a>
                        </li>
                        <% } else { %> 
                            <li class="nav-item">
                                <a class="nav-link nav-link-4 h5 m-0" href="/admin">Admin</a>
                            </li>
                        <% } %> 
                    </ul>
                </div>
            </div>
        </nav>
       </div>
       <div class="mt-4 d-flex justify-content-center align-items-center" data-parallax="scroll" data-image-src="img/hero.jpg">
        <form class="d-flex tm-search-form">
            <input class="form-control tm-search-input" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success tm-search-btn" type="submit">
                Search
            </button>
        </form>
    </div>
  </header>




<section class="bg-light m-0">
    <div class="container  ">
        <div class="row pb-4 pt-4">
            <h2 class="col-12 tm-text-primary"><%= book.name %> </h2>
        </div>
        <div class="row mt-5 d-flex align-items-center justify-content-between">            
            <div class="col-xl-4 col-lg-7 col-md-6 col-sm-12">
                <img src="/uploads/<%= book._id + "." + book.photo_ext %>" alt="Image" class="img-fluid" style="height:400px; width: 350px">
            </div>
        </div>
        <div class="row mb-4 mt-5">
            <h2 class="col-12 tm-text-primary">
                New Books
            </h2>
        </div>
        <div class="row pb-3 tm-gallery">
            <% for (let book of data.reverse()) { %>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 mb-5"> 
                        <figure class=" effect-ming tm-video-item">
                            <img src="/uploads/<%= book._id + "." + book.photo_ext %> " class="img-fluid" alt="Image"
                                style="object-fit: cover; max-width:100%; height: 220px;">
                            <figcaption class="d-flex align-items-center mt-3 mb-3 justify-content-center" style="height: 50px;">
                                <h4 ><%= book.name %>
                                </h4>
                            </figcaption>
                        </figure> 
                    <div class="d-flex justify-content-between tm-text-gray">
                        <span class="tm-text-gray-light"><%= book.datetime %> </span>
                        <span>Price: <%= book.price %> dollar </span>
                    </div>
                </div>
                <% } %>      
        </div> 
    </div> 
    
</section>







<!-- Modal -->


<script>
</script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
 
 
</body>
</html>